/**
 * Entry
 */

.entry {
  padding: 35px 0;
  box-sizing: border-box;

  &_head {
    .logo {
      margin-bottom: 40px;
    }

    h3 {
      margin: 0;
    }
  }

  .section_slider &_head {
    svg[class^="icon-"] {
      margin-bottom: 15px;
    }

    h3 {
      color: #3b41c1;
    }
  }

  &_body {
    p {
      max-width: 350px;
    }
    .btn {
      margin-top: 0;
    }
  }

  .section_slider &_body {
    p {
      min-height: 65px;
    }
  }

  &.__white {
    color: #fff;

    svg[class^="icon-"] {
      fill: #fff;
    }

    h3 {
      color: #fff;
    }
  }
}

@media screen and (min-width: 321px) {
  .entry {
    .section_slider &_body {
      p {
        min-height: 50px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .entry {
    .section_slider &_head {
      svg[class^="icon-"] {
        margin-bottom: 32px;
      }
    }

    .logo {
      margin-bottom: 70px;
    }

    &_body {
      p {
        max-width: 430px;
      }
      .btn {
        margin-top: 50px;
      }
    }

    .section_slider &_body {
      p {
        min-height: 65px;
      }
    }

    &.__wide {
      padding: 100px 0 140px 0;

      h3 {
        margin-top: 50px;
      }
    }
  }
}